body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: gray;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    transition: color .5s;
  }

  .tit {
    color: rgb(21, 23, 128);
    text-align: center;
  }

  .subtit {
    color: rgb(62, 62, 68);
    text-align: center;
  }

  .prtit {
    color: rgb(42, 41, 51);
    padding: 4px 10px;
  }

  .nltit {
    color: rgb(43, 119, 7);
    padding: 4px 10px;
  }

  

  .links {
    background-color: rgb(135, 103, 224);
    color: white;
    text-decoration:none; 
    padding: 8px 16px;
  }

  .links-a {
    color: white;
    text-decoration:none; 
    transition: color .5s;
  }

  .links-a:hover {
    color: rgb(135, 103, 224);
    text-decoration:none; 
    background-color: white;
    padding: 8px 16px;
  }

  .sublinks {
    background-color: rgb(67, 38, 146);
    color: white;
    text-decoration:none; 
    padding: 6px 12px;
  }

  .sublinks-a {
    color: white;
    text-decoration:none; 
    transition: color .5s;
  }

  .sublinks-a:hover {
    color: rgb(67, 38, 146);
    text-decoration:none; 
    background-color: white;
    padding: 6px 12px;
  }