/* CSS reset */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* remove a linha dos links */

a {
    text-decoration: none;
}


/* esconde as ancoras da tela */

a.links {
    display: none;
}

.content {
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
}

h1 {
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
}

.content p:first-child {
    margin: 0px;
}

label {
    color: #14454e;
    position: relative;
}

 ::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
}


/*estilo dos input,  menos o checkbox */

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*estilo do bot達o submit */

input[type="submit"] {
    width: 100%!important;
    cursor: pointer;
    background-color: rgb(67, 38, 146);
    padding: 8px 16px;
    color: #fff;
    font-size: 20px;
    border: 0px solid #fff;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s linear;
}


/*estilo do bot達o submit no hover */

input[type="submit"]:hover {
    background: #fdfdfd;
    color:rgb(67, 38, 146)
}

.link {
    background-color: gray;
    color: white;
    text-decoration:none; 
    padding: 8px 16px;
}

.botao {
    width: 100%!important;
    cursor: pointer;
    background-color: rgb(67, 38, 146);
    padding: 8px 16px;
    color: #fff;
    font-size: 20px;
    border: 0px solid #fff;
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    transition: all 0.2s linear;
}

.botao:hover {
    background: #fdfdfd;
    color:rgb(67, 38, 146);
}

.link a {
    color: white;
    text-decoration:none; 
    transition: color .5s;
}

.link a:hover {
    color: rgb(135, 103, 224);
    text-decoration:none; 
    background-color: white;
    padding: 8px 16px;
}

#cadastro,
#login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 2 2 2 2;
    background: #f7f7f7;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


/* Efeito ao clicar no bot達o ( Ir para Login ) */

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}


/* Efeito ao clicar no bot達o ( Cadastre-se ) */

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}


/*fadeInLeft*/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*fadeOutLeft*/

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.container {
    padding-top: 50px;
}