<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" href="../css/form.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nimbus - Fale conosco</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav-menu flex-row">
                <div class="nav-brand">
                    <a href="../Views/index.html" class="text-gray">Nimbus</a>
                </div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div>
                    <ul class="nav-items">
                        
                        <li class="nav-link">
                            <a href="Login.php">Login</a>
                        </li>
                        <li class="nav-link">
                          <a href="Login.php">cadastre-se</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Contato.html">Fale conosco</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>
    
       <section class="content">

          <div class="contato">
            <h3>Contato por Email</h3>
            <form  method="POST" class="form" action="../crudphp/email.php">
              <input type="text" name="nome" class="field" placeholder="Nome">
              <input type="email" name="email" class="field" placeholder="Email">
              <textarea class="field" name="msg" placeholder="Área de texto"></textarea>
              <input type="submit" name="Enviar" class="field">
            </form>
          </div>
       </section>
       
                       
        </body>
        <footer>
          <div class="footer">
            <p class="br">Este site está em fase BETA.</p>
          </div>
        </footer>
</html>