<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nimbus - Fale conosco</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav-menu flex-row">
                <div class="nav-brand">
                    <a href="#" class="text-gray">Nimbus</a>
                </div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div>
                    <ul class="nav-items">
                        <li class="nav-link">
                            <a href="./projetoWeb.html">Inicio</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Cursos.html">Cursos</a>
                        </li>
                        <li class="nav-link">
                            <a href="#">Archive</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Login.html">Login</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Contato.html">Fale conosco</a>
                        </li>
                    </ul>
                </div>
                
                
                <div class="social text-gray">
                    <!--Imagens fixas, adc um botão e aumentar o espaçamento depois-->
                    <img src="../assets/img/gmail.png" width="24" height="25">
                    <img src="../assets/img/instagram.png" width="24" height="25">
                    <img src="../assets/img/whatsapp.png" width="24" height="25">
                </div>
            </div>
        </nav>
    
        <div class="fright">

        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../assets//img/img2.jpg" alt="teste img" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Email</h1>
                <p>Entre em contato conosco</p>
                <p>contato@nimbus.com.br</p>
              </div>
            </div>
          </div>
        </div>

        <div class="fleft">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="./../assets//img/img2.jpg" alt="teste img" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Email</h1>
                  <p>Entre em contato conosco</p>
                  <p>contato@nimbus.com.br</p>
                </div>
              </div>
            </div>
  
          </div>
        
            
                        <div class="footer">
                            <p class="br">Este site está em fase BETA.</p>
                        </div>
                        
            
        
        
        </body>
        


</html>