<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/Cursos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus cursos</title>
</head>
<body>

<!--versão final-->

<ul>
  <li><a class="active" href="#home">Todos os cursos</a></li>
  <li><a href="#">Minha conta</a></li>
  <li><a href="./index.html">Sair</a></li>
</ul>

<div id="home" style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2 class="tit">Todos os meus cursos</h2>
  
  <p class="links"> <a class="links-a" href="#1"> Desenvolvimento de Software </a> </p>
  <p class="links"><a class="links-a" href="#2">Desenvolvimento de Jogos</a> </p>
  <p class="links"><a class="links-a" href="#3">Analise e planejamento</a> </p>
  <p class="links"><a class="links-a" href="#4">Desenvolvimento Apple</a> </p>
  <p class="links"><a class="links-a" href="#5">Desenvolvimento Web</a> </p>
  
</div>

<div id="1" style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2 class="subtit">Desenvolvimento De software</h2>
    <h3 class="prtit">Prof: José Alencar</h3>
    <h4 class="nltit">Nivel: Iniciante</h4>
    <p></p>
    
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apresentação do Curso</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Sistemas Operacionais</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Java - 1</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Java - 2</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Java - 3</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Finalizando o Projeto</a> </p>
    

  </div>

  <div id="2" style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2 class="subtit">Desenvolvimento De Jogos</h2>
    <h3 class="prtit">Prof: Antonio Nunes</h3>
    <h4 class="nltit">Nivel: Iniciante</h4>
    <p></p>
    
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apresentação do Curso</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Conhecendo Unity</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Criando seu primeiro jogo - 1</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Criando seu primeiro jogo - 2</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Criando seu primeiro jogo - 3</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Adicionando Joysticks</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Finalizando o jogo</a> </p>

  </div>

  <div id="3" style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2 class="subtit">Analise e Planejamento</h2>
    <h3 class="prtit">Prof: Ricardo Soares</h3>
    <h4 class="nltit">Nivel: Intermediario</h4>
    <p></p>
    
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apresentação do Curso</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Analisando dados de um teste de software</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Planejando um sistema de testes</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Manipulação de BigData</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Finalizando</a> </p>

  </div>

  <div id="4" style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2 class="subtit">Desenvolvimento Apple</h2>
    <h3 class="prtit">Profª: Marina Silva</h3>
    <h4 class="nltit">Nivel: iniciante</h4>
    <p></p>
    
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apresentação do Curso</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">MAC Os</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">IOS</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Ipad Os</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apple Tv</a> </p>

  </div>

  <div id="5" style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2 class="subtit">Desenvolvimento Web</h2>
    <h3 class="prtit">Prof: Lucas Ramon</h3>
    <h4 class="nltit">Nivel: iniciante</h4>
    <p></p>
    
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Apresentação do Curso</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">HTML</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">CSS</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">JavaScript</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">Frameworks</a> </p>
    <p class="sublinks"> <a class="sublinks-a" target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">WPA</a> </p>
    

  </div>

</body>
</html>
