<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/EstiloC.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nimbus - Cursis</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav-menu flex-row">
                <div class="nav-brand">
                    <a href="#" class="text-gray">Nimbus</a>
                </div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div>
                    <ul class="nav-items">
                        <li class="nav-link">
                            <a href="./projetoWeb.html">Inicio</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Cursos.html">Cursos</a>
                        </li>
                        <li class="nav-link">
                            <a href="#">Archive</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Login.html">Login</a>
                        </li>
                        <li class="nav-link">
                            <a href="./Contato.html">Fale conosco</a>
                        </li>
                    </ul>
                </div>
                
                
                <div class="social text-gray">
                    <!--Imagens fixas, adc um botão e aumentar o espaçamento depois-->
                    <img src="../assets/img/gmail.png" width="24" height="25">
                    <img src="../assets/img/instagram.png" width="24" height="25">
                    <img src="../assets/img/whatsapp.png" width="24" height="25">
                </div>
            </div>
        </nav>

        <div>
            <h1 class="br">Obtenha um de nossos cursos</h1>
        </div>

        

        <div>
            <h2 class="br">Desenvolvimento de Jogos</h2>
        </div>
        <div class="tr">

        <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/ni.png" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Unity</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/ni.png" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Assets</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/ni.png" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Desenvolvimento para XBOX, PS e PC</div>
          </div>


          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/ni.png" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Jogos Mobile - Android</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/ni.png" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Jogos Mobile - Apple</div>
          </div>

        </div>

          <div>
            <h2 class="br">Desenvolvimento de Software</h2>
        </div>

          <div class="tr">

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/mp.png" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">JAVA</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/mp.png" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">DART</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/mp.png" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">C#</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/mp.png" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Python</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/mp.png" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">C/C++</div>
          </div>

        </div>

        <div>
            <h2 class="br">Criação de cursos</h2>
        </div>

        <div class="tr">
          
          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/livros.png" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/livros.png" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>


          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/livros.png" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>


          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/livros.png" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>


          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/livros.png" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>


        </div>

        <div>
            <h2 class="br">Analise e planejamento</h2>
        </div>

        <div class="tr">
          
          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/id.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/id.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/id.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/id.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/id.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>

        </div>

        <div>
            <h2 class="br">Desenvolvimento Apple</h2>
        </div>

        <div class="tr">

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/apple.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">IpadOS</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/apple.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">IOS</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/apple.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">MAC OS</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/apple.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">HomeKit</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/apple.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Apple Developer</div>
          </div>

        </div>

        <div>
            <h2 class="br">Desenvolvimento Web</h2>
        </div>

        <div class="tr">

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/cp.png" alt="computador" width="600" height="400">
            </a>
            <div class="desc">HTML, CSS e JavaScript</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/cp.png" alt="Computador" width="600" height="400">
            </a>
            <div class="desc">PHP</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/cp.png" alt="computador" width="600" height="400">
            </a>
            <div class="desc">MySql, Sql, XAMP, WAMP</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/cp.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Responsividade</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="https://youtube.com/playlist?list=PLg3M_QUd4nrfXGDMAGv38NaOcGivr4HpQ">
              <img src="./../assets/img/cp.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">PWA</div>
          </div>

        </div>
        
    </body>

<html