<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/HomePage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus cursos</title>
</head>
<body>

<div class="header">
  <img src="./../assets/img/cloud.png" style="height:80px; width: 80px;"/>
  <h1 class="tit-geral">Nimbus</h1>
  <p></p>
</div>

<div class="topnav">
  <a href="./index.html">Home Page</a>
  <a href="./Contato.html">Fale conosco</a>
  <a href="./Login.php" style="float:right">Login</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2 class="tit">Aprenda</h2>
      <img src="./../assets/img/livros.png" style="height:200px;"/>
      <h4 class="par">Aqui na NIMBUS, temos os mais variados tipos de cursos </h4>
      <p class="par">Temos os mais variados tipos de cursos, todos voltados a area de tecnologia</p>
    </div>


    <div class="card">
      <h2 class="tit">Desenvolvimento para sistemas Apple</h2>
      <img src="./../assets/img/apple.png" style="height:200px;"/>
      <h4 class="par">Curso Novo</h4>
      <p class="par">É com alegria que anunciamos o mais novo curso disponivel na nossa grade, agora voçê pode aprender desenvolvimento para TODOS os dispositivos e sistemas da Apple</p>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
      <h2 class="tit">Nossos Planos</h2>
      <p class="par">A NIMBUS é uma plataforma que oferta cursos digitais com certificados</p>
      <p class="links"><a class="sublinks-a" href="#">Start</a></p>
      <p class="links"><a class="sublinks-a" href="#">Gold.</a></p>
      <p class="links"><a class="sublinks-a" href="#">Premium</a></p>

    </div>

    <div class="card">
      <h3 class="tit">Cursos Mais Procurados</h3>
      <p class="links"><a class="sublinks-a" href="#">Desen. Web</a></p>
      <p class="links"><a class="sublinks-a" href="#">Desen. de soft.</a></p>
      <p class="links"><a class="sublinks-a" href="#">Analise e plan.</a></p>

    </div>
    <div class="card">
      <h3 class="tit">Siga-Nos</h3>
      <p class="links"><a class="sublinks-a" href="#">Instagram</a></p>
      <p class="links"><a class="sublinks-a" href="#">YouTube</a></p>
      <p class="links"><a class="sublinks-a" href="#">Twitter</a></p>
      
    </div>
  </div>
</div>

<div class="footer">
  Todos os conteudos produzidos irão ser registrados
</div>

</body>
</html>